################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/app.config
*.warning
*.user
/packages
**/obj
/antlr-4.13.2-complete.jar
**/bin/Debug
**/bin/Release
**/bin/x64
/IDEAS.md
/Properties/launchSettings.json
