################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/app.config
/obj/x86/Debug
*.warning
*.user
/packages
/obj
/antlr-4.13.2-complete.jar
/bin/Debug
/IDEAS.md
/bin/Release/net10.0
/bin/x64/Debug/net10.0
/Properties/launchSettings.json
